@mixin before_circle {
    &:before {
        content:'';
        position: absolute;
        z-index: -1;
        width: 35px;
        height: 35px;
        top: -4px;
        left: -5px;
        border-radius: 100%;
        background:#a9aba0;
        
    }
    
}