@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 510px;
            column-gap:40px;
        }
        &__skills {
            grid-template-columns: repeat(2, 240px);
            column-gap:30px;
            &-item{
                grid-template-columns: 40px 185px;
                column-gap:15px;
            }
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .about {
        &__title{
            font-size: 30px;
        }
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills{
            grid-template-columns: 380px;
            &-item{
                grid-template-columns: 40px 320px;
                column-gap:20px;
            }
        }
        &__subtitle{
            font-size: 22px;
        }
        
    }
        
}

@media (max-width: 768px){
    .container {
        max-width: 540px;
    }
    .about {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 400px auto auto;
        }
        &__photo{
            grid-row: unset;
        }
        &__skills{
            grid-template-columns: repeat(2, 260px);
            grid-auto-rows: minmax(115px, auto);
            &-item{
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .about{
        &__title{
            margin-top: 20px;
            font-size: 24px;
        }
        &__wrapper {
            grid-template: 330px auto auto / 1fr;
        }
        &__skills{
            grid-template-columns: 1fr;
        }
        &__subtitle{
            font-size: 20px;
        }
    }
}