@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .resume {
        &__wrapper{
            grid-template-columns: repeat(2,350px);
            column-gap: 100px;
        }
    }

}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .resume {
        padding-top: 60px;
        &__wrapper{
            grid-template-columns: 1fr;
            row-gap: 70px;
        }
    }
}

@media (max-width: 768px){
    .container {
        max-width: 540px;
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}